.main .content {

    background-color: lightgray;
    border: none;

    height: 297mm;
    width: 210mm;

    /* has to have (top, etc.) in order to work properly */
    position: sticky; 
    top: 10px;

}

.main .content .contentHeader {

    background-color: blue;
    color: white;
    height: 100px;
    padding: 10px;

    border: none;

}

.main .content .contentHeader #name {

    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 5px;

    position: relative;
    top: -25px;
    left: 20px;
}

.main .content .contentHeader h2 {

    position: relative;
    top: -50px;
    left: 20px;

    font-size: 22px;
}

.main .content .contentBody{

    width: 199.5mm;
    margin: auto;
    padding: 20px;



    display: flex;
    height: 254.4mm;
}

.main .content .contact{

    width: 28%;
    background-color: gray;
    padding-left: 3%;

    height: 265mm;

    position: relative;
    left: -20px;
    top: -20px;
    
}
.main .content .contact img {

    padding-top: 10%;
    padding-left: 3%;
}

.main .content .contact h2 {

    color: blue;
    width: fit-content;

    letter-spacing: 1px;
    word-spacing: 2px;

    border-bottom: 2px solid black;
    position: relative;
    top: -20px;
}
.main .content section {

    position: relative;
    top: -30px;
    padding-left: 1%;
}

.main .content section h3{

    color: rgb(29, 29, 29);
    margin-bottom: 3px;
    margin-top: 0px;

    font-size: 16px;
    font-weight: 200;
}

.main .content .info {

    width: 66%;
    background-color: lightgray;
    padding-left: 15px;

    height: 245mm;
}

.main .content .info h2 {

    margin-bottom: 25px;
    color: rgb(39, 39, 199);
}

.main .content .info p{

    font-style: italic;
    margin-top: -17px;
    padding-left: 1%;
    padding-right: 3%;
}

.main .info .schoolItem {
    display: flex;
    justify-content: space-around;
}
.main .info #schoolRight {
    width: 80%
}
.main .info #schoolLeft {
    width: 35%
}

.main .info .jobItem {
    display: flex;
    justify-content: space-around;
}
.main .content #jobRight {
    width: 80%
}
.main .info #jobLeft {
    width: 30%
}

#schoolH2,
#jobH2 {
    margin-bottom: 40px;
    
}
#h3Bold{
    font-weight: bold;
}