<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Main page</h1>

    <h2>Useful links</h2>
    <ul>
        <li><a href = 'about'>About</a></li>
        <li><a href='about'>All users</a>(currently under maintenance)</li>
    </ul>

</body>
</html>